@model EduHome.Models.StudentFeedback
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


    <form class="user" method="post" enctype="multipart/form-data">

        <div class="form-group">
            @Html.LabelFor(m => m.ImageFile)
            @Html.TextBoxFor(m => m.ImageFile, new { @class = "form-control form-control-user", @type = "file" })
            @Html.ValidationMessageFor(m => m.ImageFile, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FullName)
            @Html.TextAreaFor(m => m.FullName, new { @class = "form-control form-control-user" })
            @Html.ValidationMessageFor(m => m.FullName, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Category)
            @Html.TextAreaFor(m => m.Category, new { @class = "form-control form-control-user" })
            @Html.ValidationMessageFor(m => m.Category, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Content)
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control form-control-user" })
            @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
        </div>

        <input type="hidden" name="CreatedDate" value="@DateTime.Now" />

        <button class="btn btn-primary btn-user btn-block">Create</button>
    </form>


