@model List<EduHome.Models.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Course</h1>
    <div class="row">
        <div class="col-lg-12">
            <a href="@Url.Action("Create", "Course")" class="btn btn-primary mb-4">Create</a>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-responsive" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Course Category</th>
                            <th>About Course</th>
                            <th>How to Apply</th>
                            <th>Certification</th>
                            <th>Starts</th>
                            <th>Duration</th>
                            <th>Class Duration</th>
                            <th>Skill Level</th>
                            <th>Language</th>
                            <th>Students Count</th>
                            <th>Assessments</th>
                            <th>Course Fee</th>
                            <th>Created Date</th>
                            <th>Edits</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>
                                    <img src="~/Uploads/img/@item.Image" alt="Alternate Text" width="100" />
                                </td>
                                <td>@item.Title</td>
                                <td>@(item.Content.Length > 50 ? item.Content.Substring(0, 50) + "..." : item.Content) </td>
                                <td>@item.CourseCategory.Name</td>
                                <td>@(item.AboutCourse.Length > 50 ? item.AboutCourse.Substring(0, 50) + "..." : item.AboutCourse) </td>
                                <td>@(item.HowToApply.Length > 50 ? item.HowToApply.Substring(0, 50) + "..." : item.HowToApply) </td>
                                <td>@(item.Certification.Length > 50 ? item.Certification.Substring(0, 50) + "..." : item.Certification)<td>
                                <td>@item.Starts</td>
                                <td>@item.Duration</td>
                                <td>@item.ClassDuration</td>
                                <td>@item.SkillLevel</td>
                                <td>@item.Language</td>
                                <td>@item.StudentsCount</td>
                                <td>@item.Assessments</td>
                                <td>@item.CourseFee</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <a href="@Url.Action("Update", "Course", new { id=item.Id})">
                                        <i class="fas fa-pen"></i>
                                    </a>

                                    <a onclick="return confirm('Are you sure?')" href="@Url.Action("Delete", "Course", new { id=item.Id})">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


