@model List<EduHome.Models.Event>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Event</h1>
    <div class="row">
        <div class="col-lg-12">
            <a href="@Url.Action("Create", "Event")" class="btn btn-primary mb-4">Create</a>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-responsive" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Event Category</th>
                            <th>Time</th>
                            <th>Venue</th>
                            <th>Speaker</th>
                            <th>Created Date</th>
                            <th>Edits</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>
                                    <img src="~/Uploads/img/@item.Image" alt="Alternate Text" width="100" />
                                </td>
                                <td>@item.Title</td>
                                <td>@(item.Content.Length > 50 ? item.Content.Substring(0, 50) + "..." : item.Content) </td>
                                <td>@item.EventCategory.Name</td>
                                <td>@item.Time </td>
                                <td>@item.Venue</td>
                                <td>@item.Speaker.Name</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <a href="@Url.Action("Update", "Event", new { id=item.Id})">
                                        <i class="fas fa-pen"></i>
                                    </a>

                                    <a onclick="return confirm('Are you sure?')" href="@Url.Action("Delete", "Event", new { id=item.Id})">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




